/* Paleta de cores
laranja-escuro: #dd670aff
laranja-claro: #ef9547ff
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.band-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 0 30px 20px;
}

a:link{
    color:rgb(153, 47, 148);
    text-decoration: none;
}

a:visited{
    color:rgb(205, 224, 32);
    text-decoration: none;
}

a:hover{
    color:rgb(205, 224, 32);
    text-decoration: none;
}

a:active{
    color:rgb(182, 64, 176);
    text-decoration: none;
}

.l-site {
    margin: 0 auto;
    max-width: 2000px;
    position: relative;
    z-index: 1;
    background: rgb(11, 72, 80);
}
  
  
.l-page {
    position: relative;
    margin-left: 240px;
    background: rgb(235, 235, 235);
}

.Box {
    width: 200px;
    background-color: rgb(205, 224, 32);
    border: hidden;
}
.flexWrap {
    width: 800px;
    vertical-align: middle;
    padding: 20px 0 20px 60px;
}
  
.l-nav {
   position: absolute;
   width: 240px;
   display: block;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: 3;
} 

.nav {
    width: 150px;
    background: rgb(11, 72, 80);
    position: flex;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 40px;
    overflow: auto;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li {
    margin: 0;
    padding: 0;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}
.nav a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    display: block;
    padding: 10px 0;
}
.nav .nav-primary {
    opacity: 1;
}
.nav .nav-primary:hover {
    opacity: 0.7;
}
.nav .nav-secondary {
    opacity: 0.4;
}
.nav .nav-secondary:hover {
    opacity: 0.7;
}
  
.menu {
    display: none;
    position: fixed;
    top: 25px;
    left: 1.5em;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}
.menu:hover .menu-hamburger:before,
.menu:hover .menu-hamburger:after {
    width: 24px;
}
.menu.is-active .menu-hamburger {
    background: none;
}
.menu.is-active .menu-hamburger:before,
.menu.is-active .menu-hamburger:after {
    top: 0;
    width: 24px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu.is-active .menu-hamburger:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.menu.is-active .menu-hamburger:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
  
.menu-hamburger {
    position: relative;
    width: 24px;
    height: 4px;
    margin: 10px 0;
    background: rgb(22, 138, 153);
    border-radius: 4px;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before, .menu-hamburger:after {
    content: "";
    display: block;
    width: 24px;
    height: 4px;
    background:  rgb(7, 49, 54);
    position: absolute;
    border-radius: 4px;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before {
    top: -8px;
    left: 0;
    width: 22px;
}
.menu-hamburger:after {
    top: 8px;
    width: 16px;
    left: 0;
}

@media screen and (max-width: 980px) {
    .menu {
        display: block;
    }
    
    .l-site.is-open {
      overflow: hidden;
    }
    .l-site.is-open .l-page {
      -webkit-transform: translateX(240px);
      -moz-transform: translateX(240px);
      -ms-transform: translateX(240px);
      -o-transform: translateX(240px);
      transform: translateX(240px);
    }
  
    .l-page {
      width: 550px;
      margin-left: 0;
      z-index: 3;
      padding: 20px 0 0 40px;
      background-color: rgb(235, 235, 235);
    }

    .l-nav {
      overflow: hidden;
      z-index: 2;
      
    }
    .nav a {
        font-size: 12px;
    }

    .flexWrap {
        width: 400px;
        padding: 0;
        background-color: rgb(235, 235, 235);
        
    }

    .band-container {
      width: 550px;
      background-color: rgb(235, 235, 235);
    }
}

  
  